<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Começando criação de um site</h1>
    <h3>Hoje é 05/08/2024</h3>
    <p>Esse é o meu 1º site!</p>
    <p>Hoje estou continuando meu projeto</p>
    <p>Queria muito construir um site mais completo</p>

    <p><em><a href="http://127.0.0.1:5000/contatos" target="_blank">Contatos</a></em></p>
    <p><em><a href="http://127.0.0.1:5000/gatinhos" target="_blank">Veja uns Gatinhos</a></em></p>

</body>
</html>